body {
  background-color: whitesmoke;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight:800;
    background: lightskyblue;
    height: 8vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

h1,h2,h3,h4,p{
  color: black;

}

.logo{
  height: 100px;

}